* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  background-color: darkgrey;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.game-board > * {
  border: 2px solid black;
}
