@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Vinyl&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --game-font: "Press Start 2P", cursive;
}

body,
html {
  height: 100vh;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.layout {
  display: flex;
  padding-top: 5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  gap: 5rem;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.overlay .select-oponent {
  font-size: 22px;
  font-weight: bold;
  color: purple;
  font-family: var(--game-font);
}

.overlay-buttons button,
.player-names-container button {
  margin-left: 1rem;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background-color: purple;
  color: white;
  padding: 10px 40px;
  cursor: pointer;
  min-width: 150px;
  box-shadow: var(--box-shadow);
}

.player-names-container {
  position: relative;
  visibility: hidden;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-names-container form {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.inner-player-names {
  display: flex;
  gap: 1rem;
}

input[type="text"] {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  text-align: center;
  border: 1px solid #d6d9dc;
  border-radius: 8px;
  padding: 5px;
  font-size: 20px;
  width: 100%;
}

.unhide-elements {
  visibility: visible;
}

.hide-elements {
  visibility: hidden;
}

.scoreboard {
  display: flex;
  margin: 1rem 0 0 1rem;
  padding: 1rem;
  justify-content: center;
  gap: 1rem;
  font-size: 30px;
  font-weight: 650;
  font-family: "Rubik Vinyl", cursive;
  background-color: #00ff40;
  height: 150px;
  width: 400px;
  position: relative;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.scoreboard > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.announcement-message {
  font-size: 150px;
  color: red;
  font-weight: 700;
  left: 50%;
  top: 50%;
  position: absolute;
  z-index: 11;
}

.announcement-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-width: 600px;
  flex: 1;
}

.title {
  font-size: 48px;
  font-weight: 650;
  font-family: "Press Start 2P", cursive;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  box-shadow: var(--box-shadow);
}

.game-cell {
  font-size: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms;
  border: 1px solid #9ca3af;
}

button.restart,
button.clear {
  margin-left: 1rem;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 10px 40px;
  cursor: pointer;
  min-width: 150px;
  box-shadow: var(--box-shadow);
  background-color: #00ff40;
}

button:hover {
  filter: brightness(65%);
}
